<!DOCTYPE HTML>
<html>
	<head>
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="description" content="App Details Page">
		<meta name="author" content="Cashless Consumer">

		<title>App Details Page -- {{title}}</title>

		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

		<!-- Compiled and minified JavaScript -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script> -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var elems = document.querySelectorAll('.collapsible');
                    var instances = M.Collapsible.init(elems, options);
                  });
        </script>

	</head>
	<body>
		<div class="headline">
			<div class="container">
				<h2 class="headline-heading">App Details</h2>
				<!-- Search box on right -->
			</div>
		</div>
		<div id="appdataArea">
		<div class="container">
		<div class="row">
			<img class="col s2" class="responsive-img" src="{{icon}}" alt="logo"/>
			<div class="col s8"><h4><a href="{{playstoreUrl}}">{{title}}</a></h4>
				 <span class="badge"><a href="https://play.google.com/store/apps/developer?id={{developerId}}">{{developer.devId}}</a></span>
			</div>

			 <a href="{{playstoreUrl}}"><img class="col s2" class="img-responsive" src="https://chart.googleapis.com/chart?cht=qr&amp;chs=200x200&amp;choe=UTF-8&amp;chld=H&amp;chl={{playstoreUrl}}" alt="qrcode"></a>
		</div>
		<div class="divider"></div>
		<ul class="collapsible popout">
			<li>
				<div class="collapsible-header" class="col s8">Description</div>
				<div class="collapsible-body" class="col s8">{{{descriptionHTML}}}</div>
			</li>

			<li>
				<div class="collapsible-header" class="col s12">
				<div class="col s4">Recent changes</div>
				<span class="badge">{{updated}}</span>
				<span class="new badge">{{androidVersion}}</span>
				</div>
				<div class="collapsible-body" class="col s8">{{{recentChanges}}}</div>
			</li>

			<li>
				<div class="collapsible-header" class="col s12">
					<div class="col s4">Statistics</div>
				</div>
				<div class="collapsible-body" class="col s12">
					<div class="row">
						<div class="col s3 right-align" class="flow-text">Installs  </div>
						<div class="col s3 left-align" class="flow-text">{{minInstalls}} - {{maxInstalls}}</div>
						<div class="col s3 right-align" class="flow-text">Rating  </div>
						<div class="col s3 left-align" class="flow-text">{{score}}</div>
					</div>
					<div class="row">
						<div class="col s2 offset-s1" class="flow-text">5 * -- {{histogram.5}}</div>
						<div class="col s2" class="flow-text">4 * -- {{histogram.4}}</div>
						<div class="col s2" class="flow-text">3 * -- {{histogram.3}}</div>
						<div class="col s2" class="flow-text">2 * -- {{histogram.2}}</div>
						<div class="col s2" class="flow-text">1 * -- {{histogram.1}}</div>
					</div>
				</div>
			</li>

			<li>
				<div class="collapsible-header" class="col s12">
					<div class="col s4">Contact</div>
				</div>
				<div class="collapsible-body" class="col s12">
					<div class="row">
						<div class="col s6"><span class="flow-text">Website <a href="{{developerWebsite}}">{{developerWebsite}}</a></span></div>
						<div class="col s6"><span class="flow-text">EMail <a href="mailto:{{developerEmail}}">{{developerEmail}}</a></span></div>
					</div>
				</div>
			</li>

		<!--
			<li>
				<div class="collapsible-header" class="col s12">Screenshots</div>
				<div class="carousel" class="collapsible-body" class="col s12">
					{{#screenshots}}
						<img class="carousel-item" src="{{.}}" alt="Screenshot"></a>
					{{/screenshots}}
				</div>
			</li>
		-->
		</ul>
		<div class="divider"></div>
		</div>
		</div>
	</body>
</html>

